<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read (All)</title>
    <link rel="stylesheet" href="../static/CSS/style.css">
</head>
<body>
    <div class="container">
        <h1>All Shows</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Network</th>
                <th>Release Date</th>
                <th>Actions</th>
            </tr>
            {% for i in shows %}
            <tr>
                <th>{{ i.id }}</th>
                <th>{{ i.title }}</th>
                <th>{{ i.network }}</th>
                <th>{{ i.release_date }}</th>
                <th>
                    <a href='/shows/{{ i.id }}'>Show</a>|
                    <a href='/shows/{{ i.id }}/edit'>Edit</a>|
                    <a href='/shows/{{ i.id }}/destroy'>Delete</a>
                </th>
            </tr>
            {% endfor %}
        </table>
        <h4><a href='/shows/new'>Add a New Show</a></h4>
    </div>
</body>
</html>